# Infra and tools
.*                            @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.ci/                          @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.circleci/                    @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
.github/                      @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser @icfaust

# Docs
*.md                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel
doc/                          @maria-Petrova @napetrov @Alexsandruss @icfaust @david-cortes-intel
requirements-doc.txt          @Alexsandruss @icfaust @david-cortes-intel

# sklearnex
onedal/                       @Alexsandruss @icfaust
sklearnex/                    @Alexsandruss @icfaust

# Examples
examples/                     @maria-Petrova @Alexsandruss @napetrov

# Dependencies
conda-recipe/                 @napetrov @Alexsandruss
dependencies-dev              @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
pyproject.toml                @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
requirements*                 @napetrov @Alexsandruss @homksei @ahuber21 @ethanglaser
setup.*                       @napetrov @Alexsandruss @icfaust

# Model builders
*model_builders*              @razdoburdin @ahuber21 @avolkov-intel

# Forests
*ensemble*                    @ahuber21 @icfaust

# Testing
**/test*.py                   @Alexsandruss @icfaust
deselected_tests.yaml         @Alexsandruss @icfaust
tests/                        @Alexsandruss @icfaust

# Distributed
*spmd*                        @ethanglaser

# daal4py
daal4py/sklearn/              @Alexsandruss @icfaust

# Core
generator/                    @Alexsandruss @icfaust
scripts/                      @Alexsandruss @icfaust
src/                          @Alexsandruss @icfaust
